/* start gloubal rulse */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-moz-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
/* end gloubal rulse */
/* start root */
:root {
  /* color */
  --main-background: #f1f5f9;
  --main-box-background: #eeeeee;
  --main-transition: 0.3s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-border-rad: 6px;
  --main-padding-for-button: 8px 10px;
}
/* end root */
/* start animation */
@keyframes project-progress {
  0% {
    background-color: white;
  }
  100% {
    background-color: var(--blue-color);
  }
}
@keyframes project-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes head-title {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    transform: translatex(0);
  }
  40%,
  60% {
    transform: translatex(-15px);
  }
}
/* end animation */
/* start sidebar */
.page {
  display: flex;
  position: relative;
  background-color: #f1f5f9;
}
.page .mega_menu {
  display: none;
}
@media (max-width: 767px) {
  .page .mega_menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 25px;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    color: #0075ff;
    z-index: 2;
  }
}

.page .mega_menu:hover + div {
  left: 0;
}
.page .sidebar {
  background-color: white;
  padding: 0 20px;
  width: 210px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .page .sidebar {
    position: absolute;
    left: -100%;
    width: 70%;
    height: 100%;
    background-color: white;
    transition: var(--main-transition);
    z-index: 1;
  }
}
.page .sidebar > h1 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 0 15px 20px;
  margin: 20px auto;
  width: fit-content;
}
.page .sidebar > h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
}
.page .sidebar > h1::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: black;
  bottom: -7.5px;
  left: 50%;
  transform: translateX(-50%);
}

.page .sidebar > ul {
  margin-top: 30px;
}
.page .sidebar > ul > li {
  margin-bottom: 5px;
}
.page .sidebar > ul > li > a {
  padding: 10px 0;
  display: block;
  border-radius: 8px;
  transition: var(--main-transition);
}
.page .sidebar > ul > li > a:hover,
.page .sidebar > ul > li > .active {
  background-color: #f6f6f6;
}
@media (max-width: 767px) {
  .page .sidebar > ul > li > a::after {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    right: 35px;
  }
}
.page .sidebar > ul > li > a > span {
  color: black;
  font-size: 14px;
  margin-left: 10px;
}
.page .sidebar > ul > li > a > i {
  width: 30px;
  color: black;
  text-align: center;
}

/* end sidebar */
/* start nav */
.page .content {
  flex: 1;
}
.content .nav {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .content .nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
}
.content .nav .searsh {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .content .nav .searsh {
    order: 2;
    width: 100%;
    height: 50px;
  }
}
.content .nav .searsh::before {
  content: "\f002";
  font-family: "FontAwesome";
  position: relative;
  font-size: 16px;
  color: #777;
  margin-right: 10px;
  margin-left: 10px;
}
.content .nav .searsh > input {
  width: 140px;
  border: none;
  color: #777;
  font-size: 15px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .content .nav .searsh > input {
    flex: 1;
  }
  .content .nav .searsh > input:focus {
    max-width: 500px;
  }
}
.content .nav .searsh > input:focus {
  width: 180px;
}

.content .nav .profile {
  display: flex;
  align-items: center;
}
.content .nav .profile .icon {
  margin-right: 15px;
  font-size: 20px;
  position: relative;
}
.content .nav .profile .icon::before {
  content: "";
  position: absolute;
  background-color: #f44336;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -4px;
  right: -4px;
}
.content .nav .profile .img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.content .nav .profile img {
  max-width: 100%;
}
/* end nav */

.content > h1 {
  margin-left: 20px;
  position: relative;
  width: fit-content;
  margin-bottom: 45px;
}
.content > h1::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 80%;
  height: 2px;
  background-color: white;
}
.content > h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 30%;
  height: 2px;
  background-color: black;
}

/* start dashboard */
.page > .content > .dashboard {
  background-color: #f1f5f9;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  padding: 0 20px 20px;
}
@media (max-width: 767px) {
  .page > .content > .dashboard {
    grid-template-columns: auto;
  }
}
/* start welcome */
.page .content > .dashboard .box {
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  background-color: white;
}
.dashboard .box.welcome {
  display: flex;
  flex-direction: column;
}
.dashboard .box.welcome > .head_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 5px;
  background-color: var(--main-box-background);
}
@media (max-width: 767px) {
  .dashboard .box.welcome > .head_info {
    height: 130px;
  }
}
.dashboard .box.welcome > .head_info > h3 {
  margin: 0;
  padding: 0;
}
.dashboard .box.welcome > .head_info span {
  color: var(--grey-color);
  margin-top: 10px;
  display: block;
}
.dashboard .box.welcome > .head_info img {
  width: 250px;
}
@media (max-width: 767px) {
  .dashboard .box.welcome .head_info img {
    display: none;
  }
}
.dashboard .box.welcome .data {
  background-color: white;
  position: relative;
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-top: solid #eee 1px;
}
@media (max-width: 767px) {
  .dashboard .box.welcome .data {
    flex-direction: column;
    gap: 22px;
  }
}
.dashboard .box.welcome .data::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 100%;
  height: 1px;
  background-color: var(--main-box-background);
}
.dashboard .box.welcome .data::after {
  content: "";
  position: absolute;
  top: 145px;
  width: 100%;
  height: 1px;
  background-color: var(--main-box-background);
}
@media (max-width: 767px) {
  .dashboard .box.welcome .data::after {
    top: 280px;
  }
}
.dashboard .box.welcome .data h3 {
  font-size: 18px;
  font-weight: 500;
}
.dashboard .box.welcome .data span {
  display: block;
  margin-top: 20px;
  color: #777;
  font-size: 15px;
}
@media (max-width: 767px) {
  .dashboard .box.welcome .data span {
    margin-top: 12px;
  }
}
.dashboard .box.welcome .data .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  position: absolute;
  top: -26.5px;
  left: 20px;
}
.dashboard .box.welcome .data img {
  max-width: 100%;
}
.dashboard .box.welcome > a {
  text-align: right;
  background-color: var(--blue-color);
  width: fit-content;
  border-radius: var(--main-border-rad);
  padding: var(--main-padding-for-button);
  margin: 40px 20px auto auto;
  transition: var(--main-transition);
  color: white;
}
.dashboard .box.welcome > a:hover {
  background-color: var(--blue-alt-color);
}
/* end welcome */
/* start draft */
.dashboard .box.draft > p {
  margin: 10px 0 20px;
  color: var(--grey-color);
}
.dashboard .box.draft > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .box.draft > form > input:first-child {
  border: none;
  border-radius: var(--main-border-rad);
  background-color: var(--main-box-background);
  padding: 10px;
}
.dashboard .box.draft > form > textarea {
  resize: none;
  height: 180px;
  border: none;
  border-radius: var(--main-border-rad);
  background-color: var(--main-box-background);
  padding: 10px;
}
.dashboard .box.draft > form > input[type="submit"] {
  width: fit-content;
  margin: 0 0 auto auto;
  color: white;
  background-color: var(--blue-color);
  padding: var(--main-padding-for-button);
  border-radius: var(--main-border-rad);
  border: none;
  transition: var(--main-transition);
  cursor: pointer;
}
.dashboard .box.draft > form > input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}
/* end draft */
/* start targets */

.dashboard .box.targets > p {
  margin-top: 10px;
  color: var(--grey-color);
}
.dashboard .box.targets > .cont {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.dashboard .box.targets > .cont > .icon {
  width: 80px;
  height: 80px;
  background-color: #c4deff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
}
.dashboard .box.targets > .cont:nth-child(4) .icon {
  background-color: #ffeccc;
  color: var(--orange-color);
}
.dashboard .box.targets > .cont:last-child .icon {
  background-color: #d3f3df;
  color: var(--green-color);
}
.dashboard .box.targets > .cont > .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard .box.targets > .cont > .info > p {
  color: var(--grey-color);
}
.dashboard .box.targets > .cont > .info > h4 {
  margin: 10px 0;
  font-size: 18px;
}
.dashboard .box.targets > .cont > .info > .line {
  width: 100%;
  height: 3px;
  background-color: #c4deff;
  position: relative;
}
.dashboard .box.targets > .cont:nth-child(4) > .info > .line {
  background-color: #ffeccc;
}
.dashboard .box.targets > .cont:last-child > .info > .line {
  background-color: #d3f3df;
}
.dashboard .box.targets > .cont > .info > .line > span {
  width: 80%;
  height: 100%;
  display: block;
  background-color: var(--blue-color);
  position: relative;
}
.dashboard .box.targets > .cont > .info > .line > span::before {
  content: attr(value-yearly-targets);
  position: absolute;
  right: 0;
  transform: translateX(50%);
  padding: 5px;
  background-color: inherit;
  border-radius: var(--main-border-rad);
  top: -45px;
  color: white;
}
.dashboard .box.targets > .cont > .info > .line > span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  right: 0;
  transform: translateX(50%);
  background-color: inherit;
  top: -20px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.dashboard .box.targets > .cont:nth-child(4) > .info > .line > span {
  width: 55%;
  background-color: var(--orange-color);
}
.dashboard .box.targets > .cont:last-child > .info > .line > span {
  width: 75%;
  background-color: var(--green-color);
}
/* end targets */
/* start texkets */
.dashboard .box.tickets > p {
  margin: 10px 0 20px;
  color: var(--grey-color);
}
.dashboard .box.tickets .boxs {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}
.dashboard .box.tickets .boxs .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
  border-radius: var(--main-border-rad);
  border: 1px solid #ccc;
}
.dashboard .box.tickets .boxs .cont > h2 {
  font-size: 32px;
}
@media (max-width: 767px) {
  .dashboard .box.tickets .boxs .cont > h2 {
    font-size: 25px;
  }
  .dashboard .box.tickets .boxs .cont > i {
    font-size: 22px;
  }
}
.dashboard .box.tickets .boxs .cont > p {
  color: var(--grey-color);
}
.dashboard .box.tickets .boxs .cont > i {
  color: var(--orange-color);
  font-size: 28px;
}
.dashboard .box.tickets .boxs .cont:nth-child(3) > i {
  color: var(--green-color);
}
.dashboard .box.tickets .boxs .cont:last-child > i {
  color: var(--red-color);
}
/* end texkets */
/* start news  */
.dashboard .box.news > h2 {
  margin-bottom: 10px;
}
.dashboard .box.news .cont {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  position: relative;
  text-transform: capitalize;
}
.dashboard .box.news .cont:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .box.news .cont .img {
  border-radius: var(--main-border-rad);
  width: 100px;
  overflow: hidden;
}
.dashboard .box.news .cont .img img {
  max-width: 100%;
  margin-bottom: -3.5px;
  padding: 0;
}
.dashboard .box.news .cont .text {
  flex: 1;
}
.dashboard .box.news .cont .text > h3 {
  margin-bottom: 10px;
}
.dashboard .box.news .cont .text > p {
  color: var(--grey-color);
}
.dashboard .box.news .cont > p {
  background-color: var(--main-box-background);
  padding: var(--main-padding-for-button);
  border-radius: var(--main-border-rad);
  font-weight: 500;
}
@media (max-width: 767px) {
  .dashboard .box.news .cont {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto 0;
    align-items: flex-start;
  }
  .dashboard .box.news .cont .img {
    width: 60px;
  }
  .dashboard .box.news .cont > p {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding: 5px 8px;
  }
  .dashboard .box.news .cont .text > h3 {
    font-size: 18px;
  }
  .dashboard .box.news .cont .text > p {
    font-size: 13px;
  }
  .dashboard .box.news .cont {
    gap: 10px;
  }
}
/* end news  */
/* start tasks */
.dashboard .box.tasks > h2 {
  margin-bottom: 10px;
}
.dashboard .box.tasks > .cont {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  text-transform: capitalize;
}
.dashboard .box.tasks > .cont:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .box.tasks > .cont > .text > h3 {
  font-size: 17px;
  margin-bottom: 5px;
}
.dashboard .box.tasks > .cont > .text > p {
  color: var(--grey-color);
}
.dashboard .box.tasks > .cont > .text > h3.done {
  text-decoration: line-through;
  color: var(--grey-color);
}
.dashboard .box.tasks > .cont > .text > p.done {
  text-decoration: line-through;
  color: #ccc;
}
.dashboard .box.tasks > .cont > i.done {
  color: #ccc;
}
/* end tasks */
/* start search */

.dashboard .box.search > .head {
  display: flex;
  justify-content: space-between;
  color: var(--grey-color);
  margin-top: 20px;
}
.dashboard .box.search > ul > li {
  padding: 20px 0;
  font-weight: bold;
  position: relative;
  text-transform: capitalize;
}
.dashboard .box.search > ul > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .box.search > ul > li::before {
  content: attr(value-for-top-search);
  position: absolute;
  right: 0;
  padding: var(--main-padding-for-button);
  background-color: var(--main-box-background);
  border-radius: var(--main-border-rad);
  color: #333;
}
/* edn search */
/* start uploads */
.dashboard .box.uploads > h2 {
  margin-bottom: 20px;
}
.dashboard .box.uploads > .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-transform: capitalize;
}
.dashboard .box.uploads > .cont:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.dashboard .box.uploads > .cont .info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dashboard .box.uploads > .cont .info > img {
  width: 40px;
  height: 40px;
}

.dashboard .box.uploads > .cont > .info .text > h3 {
  margin-bottom: 5px;
  font-size: 16px;
  /* font-weight: normal; */
}
.dashboard .box.uploads > .cont > .info .text > p {
  color: var(--grey-color);
}
.dashboard .box.uploads > .cont > .size > span {
  padding: var(--main-padding-for-button);
  background-color: var(--main-box-background);
  border-radius: var(--main-border-rad);
}
@media (max-width: 767px) {
  .dashboard .box.uploads > .cont > .size > span {
    font-size: 12px;
    padding: 5px 8px;
  }
}
/* end uploads */
/* start last project progress */
.dashboard .box.last-project {
  position: relative;
}
.dashboard .box.last-project > ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  position: relative;
  text-transform: capitalize;
}
.dashboard .box.last-project > ul::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  position: absolute;
  left: 11px;
  z-index: 1;
}
.dashboard .box.last-project > ul > li {
  padding-left: 50px;
  position: inherit;
  font-weight: bold;
  font-size: 17px;
}
.dashboard .box.last-project > ul > li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  outline: 2px solid var(--blue-color);
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  left: 0;
  z-index: 2;
}
.dashboard .box.last-project > ul > .active::before {
  background-color: var(--blue-color);
}
.dashboard .box.last-project > ul > .animated::before {
  animation: project-progress 1s ease-in-out infinite;
}
.dashboard .box.last-project > img {
  width: 150px;
  opacity: 50%;
  position: absolute;
  right: 10px;
  bottom: 0;
  animation: project-img 1s ease-in-out infinite;
}
@media (max-width: 767px) {
  .dashboard .box.last-project > img {
    width: 90px;
  }
  .dashboard .box.last-project > ul > li {
    font-size: 14px;
    letter-spacing: -0.5px;
    padding-left: 28px;
  }
  .dashboard .box.last-project > ul {
    gap: 23px;
  }
  .dashboard .box.last-project > ul::before {
    left: 8px;
  }
  .dashboard .box.last-project > ul > li::before {
    width: 14px;
    height: 14px;
  }
  .dashboard .box.last-project > h2 {
    font-size: 20px;
  }
}
/* end last project progress */
/* start reminders */
.dashboard .box.reminders > ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .box.reminders > ul > li {
  padding-left: 50px;
  position: relative;
}
.dashboard .box.reminders > ul > li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--blue-color);
}
.dashboard .box.reminders > ul > li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 30px;
  top: 0;
  background-color: var(--blue-color);
}
.dashboard .box.reminders > ul > li > h4 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.dashboard .box.reminders > ul > li > p {
  color: var(--grey-color);
  font-size: 14px;
  font-weight: 600;
}
.dashboard .box.reminders > ul > li:nth-child(2)::before,
.dashboard .box.reminders > ul > li:nth-child(2)::after {
  background-color: var(--green-color);
}
.dashboard .box.reminders > ul > li:nth-child(3)::before,
.dashboard .box.reminders > ul > li:nth-child(3)::after {
  background-color: var(--orange-color);
}
.dashboard .box.reminders > ul > li:nth-child(4)::before,
.dashboard .box.reminders > ul > li:nth-child(4)::after {
  background-color: var(--red-color);
}
/* end reminders */
/* start latest post  */
.dashboard .box.latest-post .profile {
  display: flex;
  margin-top: 20px;
  margin-bottom: 18px;
  gap: 20px;
  align-items: center;
}

.dashboard .box.latest-post .profile > .text > h4 {
  margin-bottom: 5px;
}
.dashboard .box.latest-post .profile > .text > p {
  color: var(--grey-color);
  font-size: 14px;
}
.dashboard .box.latest-post > .massege {
  padding-top: 18px;
  padding-bottom: 28px;
  border-top: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.8;
}
.dashboard .box.latest-post > .interaction {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 600;
}
.dashboard .box.latest-post > .interaction span {
  margin-left: 5px;
}
/* end latest post  */
/* start  social-media */
.dashboard .box.social-media > h2 {
  margin-bottom: 20px;
}
.dashboard .box.social-media > .cont {
  display: flex;
  margin-top: 10px;
}
.dashboard .box.social-media > .cont > .icon {
  width: 50px;
  height: 50px;

  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .box.social-media > .cont:nth-child(3) .icon {
  background-color: #1877f2;
}
.dashboard .box.social-media > .cont:nth-child(4) .icon {
  background-color: #ff0000;
}
.dashboard .box.social-media > .cont:nth-child(5) .icon {
  background-color: #0077b5;
}
.dashboard .box.social-media > .cont > .icon > i {
  font-size: 30px;
  color: white;
}
.dashboard .box.social-media > .cont > .follow {
  padding: 0 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1da0f253;
}
.dashboard .box.social-media > .cont:nth-child(3) .follow {
  background-color: #1876f253;
}
.dashboard .box.social-media > .cont:nth-child(4) .follow {
  background-color: #ff000053;
}
.dashboard .box.social-media > .cont:nth-child(5) .follow {
  background-color: #0076b553;
}
.dashboard .box.social-media > .cont > .follow > p {
  font-size: 15px;
  font-weight: bold;
  color: #1da1f2;
}
.dashboard .box.social-media > .cont:nth-child(3) .follow > p {
  color: #1877f2;
}
.dashboard .box.social-media > .cont:nth-child(4) .follow > p {
  color: #ff0000;
}
.dashboard .box.social-media > .cont:nth-child(5) .follow > p {
  color: #0077b5;
}
.dashboard .box.social-media > .cont > .follow > a {
  border-radius: var(--main-border-rad);
  padding: var(--main-padding-for-button);
  background-color: #1da1f2;
  color: white;
  font-size: 14px;
}
.dashboard .box.social-media > .cont:nth-child(3) .follow > a {
  background-color: #1877f2;
}
.dashboard .box.social-media > .cont:nth-child(4) .follow > a {
  background-color: #ff0000;
}
.dashboard .box.social-media > .cont:nth-child(5) .follow > a {
  background-color: #0077b5;
}
@media (max-width: 767px) {
  .dashboard .box.social-media > .cont > .follow {
    padding: 0 8px;
  }
  .dashboard .box.social-media > .cont > .follow > a {
    font-size: 13px;
    padding: 5px 8px;
  }
  .dashboard .box.social-media > .cont > .follow > p {
    font-size: 14.5px;
  }
}
/* end  social-media */
/* start projects end  */
.dashboard .box.projects {
  grid-column: 1 / 4;
}
@media (max-width: 1656px) {
  .dashboard .box.projects {
    grid-column: 1/3;
  }
}
@media (max-width: 1186px) {
  .dashboard .box.projects {
    grid-column: 1/2;
  }
}
.dashboard .box.projects > h2 {
  position: relative;
}
@media (max-width: 767px) {
  .dashboard .box.projects > h2::before {
    content: "\f101";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
    color: var(--blue-color);
    animation: head-title 2s linear infinite;
  }
}
.dashboard .box.projects .responsiv-table {
  overflow: auto;
}
.dashboard .box.projects .responsiv-table table {
  min-width: 1000px;
  border-spacing: 0;
  border-left: 1px solid #eee;
  margin: 30px 0 10px;
  width: 100%;
}
.dashboard .box.projects .responsiv-table table thead {
  background-color: var(--main-box-background);
  font-weight: bold;
}
.dashboard .box.projects .responsiv-table table tr td {
  padding: 20px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.dashboard .box.projects .responsiv-table table tbody tr td img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: white;
  border: 3px solid white;
}
.dashboard
  .box.projects
  .responsiv-table
  table
  tbody
  tr
  td
  img:not(:first-child) {
  margin-left: -20px;
}
.dashboard .box.projects .responsiv-table table tbody tr td {
  font-weight: 600;
  font-size: 15px;
}

.dashboard .box.projects .responsiv-table table tbody tr td span {
}
.dashboard .box.projects .responsiv-table table span {
  padding: var(--main-padding-for-button);
  border-radius: var(--main-border-rad);
  color: white;
}
/* end projects end  */
/* end dashboard */
/* start settings */
.settings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  padding: 0 20px 20px 20px;
  gap: 20px;
}
@media (max-width: 767px) {
  .settings {
    grid-template-columns: auto;
  }
}
.settings .box {
  padding: 20px;
  background-color: white;
  border-radius: var(--main-border-rad);
}
/* start control  */
.settings .box.control {
  text-transform: capitalize;
}
.settings .box.control > p {
  color: var(--grey-color);
  margin: 10px 0 20px;
}
.settings .box.control .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .box.control .control > .text > h4 {
  font-weight: 500;
  margin: 0;
}
.settings .box.control .control > .text > p {
  color: var(--grey-color);
  margin-top: 8px;
}
.checkbox label {
  position: relative;
  width: 72px;
  height: 32px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 32px;
  transition: var(--main-transition);
  cursor: pointer;
}
.checkbox label::before {
  content: "\f00d";
  font-family: "FontAwesome";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: var(--main-transition);
}
.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: -90000px;
  top: -90000px;
}
.checkbox input[type="checkbox"]:checked + label {
  background-color: var(--blue-color);
}
.checkbox input[type="checkbox"]:checked + label::before {
  color: var(--blue-color);
  content: "\f00c";
  left: calc(72px - 28px);
}
.settings textarea {
  resize: none;
  width: 100%;
  height: 130px;
  margin-top: 30px;
  padding: 20px;
  color: var(--grey-color);
  border-color: #ccc;
  border-radius: var(--main-border-rad);
}
/* end control  */
/* start general */
.box.general > p {
  margin: 10px 0 10px;
  color: var(--grey-color);
}
.box.general > form {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.box.general > form label {
  color: var(--grey-color);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}
.box.general > form input {
  padding: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: var(--main-border-rad);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}
.box.general > form > .email {
  display: flex;
  gap: 20px;
}
.box.general > form > .email > input[type="email"] {
  flex: 1;
}
.box.general > form > .email > input[type="submit"] {
  width: fit-content;
  background-color: white;
  border: transparent;
  cursor: pointer;
  color: var(--blue-color);
  font-size: 17px;
}
/* end general */
/* start security */
.box.security {
  text-transform: capitalize;
}
.box.security > p {
  margin: 10px 0 0;
  color: var(--grey-color);
}
.box.security > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.box.security > div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.box.security > div > .text > h4 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 17px;
}
.box.security > div > .text > p {
  color: var(--grey-color);
  font-size: 14px;
  text-transform: capitalize;
}
.box.security > div > a {
  padding: var(--main-padding-for-button);
  background-color: var(--blue-color);
  color: white;
  display: block;
  border-radius: var(--main-border-rad);
}
.box.security > div:last-child > a {
  color: initial;
  background-color: var(--main-box-background);
}
/* end security */
/* start social-info */
.box.social-info {
  text-transform: capitalize;
}
.box.social-info > p {
  color: var(--grey-color);
  margin: 10px 0;
}
.box.social-info > .cont {
  background-color: #eee;
  margin-top: 15px;
  display: flex;
  align-items: center;
  border-radius: var(--main-border-rad);
  overflow: hidden;
  border: 1px solid #ccc;
  color: var(--grey-color);
  flex-direction: row-reverse;
}
.box.social-info > .cont .icon {
  width: 35px;
  height: 35px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: inherit;
  border-right: 1px solid #ccc;
}
.box.social-info > .cont .icon i {
  transition: var(--main-transition);
}
.box.social-info > .cont > input {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;

  height: 100%;
  display: block;
  width: 100%;
  background-color: #eee;
  border-color: transparent;
}
.box.social-info > .cont > input:focus + div,
.box.social-info > .cont > input:focus {
  color: initial;
}
/* end social-info */
/* start widgets */
.box.widgets {
  text-transform: capitalize;
}
.box.widgets > p {
  margin: 10px 0 20px;
  color: var(--grey-color);
}
.box.widgets > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box.widgets > ul > li > input {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: var(--main-border-rad);
}
.box.widgets > ul > li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
/* end widgets */
/* start backup */
.box.backup {
  text-transform: capitalize;
}
.box.backup > p {
  color: var(--grey-color);
  margin: 10px 0 0;
}
.box.backup > ul {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.box.backup > ul > li {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.box.backup > ul > li > input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: var(--main-transition);
}
.box.backup > ul > li > label {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}
.box.backup > .info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box.backup > .info > input {
  flex: 1;
  appearance: none;
  position: absolute;
  cursor: pointer;
}
.box.backup > .info > input:checked + .server {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
.box.backup > .info > input + .server {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: var(--main-border-rad);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.box.backup > .info > input + .server label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-indent: none;
}
.box.backup > .info > input + .server label i {
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
}
/* end backup */
/* end settings */
/* start profile  */
/* start user interface */
.page .content > .profile {
  margin: 0 20px 20px;
  text-transform: capitalize;
}
.page .content > .profile > .user {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.page .content > .profile > .user > .admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  width: 300px;
  border-right: 1px solid #ccc;
  background-color: white;
}
@media (max-width: 870px) {
  .page .content > .profile > .user > .admin {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .page .content > .profile > .user > .admin {
    border: none;
  }
}
@media (max-width: 532px) {
  .page .content > .profile > .user > .admin {
    margin: auto;
  }
}
.page .content > .profile > .user > .admin > .img {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}
.page .content > .profile > .user > .admin > .img > img {
  max-width: 100%;
}
.page .content > .profile > .user > .admin > p {
  color: var(--grey-color);
  font-weight: 600;
}
.page .content > .profile > .user > .admin > p:last-child {
  font-size: 14px;
  font-weight: 500;
}
.page .content > .profile > .user > .admin > .line {
  width: 150px;
  height: 5px;
  background-color: #ccc;
  border-radius: 30px;
}
.page .content > .profile > .user > .admin > .line > span {
  display: block;
  width: 70%;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 30px;
}
.page .content > .profile > .user > .admin > .icon i {
  color: var(--orange-color);
}
.page .content > .profile > .user > .info {
  flex: 1;
}
.page .content > .profile > .user > .info > .box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
}
@media (max-width: 532px) {
  .page .content > .profile > .user > .info > .box {
    justify-content: center;
  }
}
.page .content > .profile > .user > .info > .box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.page .content > .profile > .user > .info > .box > .head-titile {
  color: var(--grey-color);
  font-size: 18px;
}
@media (max-width: 516px) {
  .page .content > .profile > .user > .info > .box > .head-titile {
    text-align: center;
  }
}
.page .content > .profile > .user > .info > .box > .data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1450px) {
  .page .content > .profile > .user > .info > .box > .data {
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: flex-start;
    row-gap: 10px;
  }
}
@media (max-width: 1175px) {
  .page .content > .profile > .user > .info > .box > .data {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: flex-start;
    row-gap: 10px;
  }
}
@media (max-width: 1030px) {
  .page .content > .profile > .user > .info > .box > .data {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    row-gap: 10px;
  }
}

.page .content > .profile > .user > .info > .box > .data .cont {
  display: flex;
  align-items: center;
}
.page .content > .profile > .user > .info > .box > .data .cont > p {
  font-size: 14px;
  font-weight: 600;

  color: var(--grey-color);
}
.page .content > .profile > .user > .info > .box > .data .cont > span {
  font-size: 14px;
  font-weight: 600;
}
.page .content > .profile > .user > .info > .box > .data > .checkbox label {
  height: 18px;
  width: 80px;
}
.page
  .content
  > .profile
  > .user
  > .info
  > .box
  > .data
  > .checkbox
  label::before {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
}
.page
  .content
  > .profile
  > .user
  > .info
  > .box
  > .data
  > .checkbox
  > input:checked
  + label::before {
  left: calc(80px - 14px);
  font-size: 8px;
}
/* end user interface */
/* start my skills */
.page .content > .profile > .overview > .my-skills {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}
.page .content > .profile > .overview > .my-skills > p {
  color: var(--grey-color);
  margin: 10px 0 20px;
}
.page .content > .profile > .overview > .my-skills > .box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0;
}
.page .content > .profile > .overview > .my-skills > .box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.page .content > .profile > .overview > .my-skills > .box > span {
  background-color: #eee;
  padding: var(--main-padding-for-button);
  border-radius: var(--main-border-rad);
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
/* end my skills */
/* start activities */
.page .content > .profile > .overview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
@media (max-width: 767px) {
  .page .content > .profile > .overview {
    grid-template-columns: auto;
  }
}
.page .content > .profile > .overview > .activities {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  /* margin-top: 20px; */
}
.page .content > .profile > .overview > .activities > p {
  color: var(--grey-color);
  margin: 10px 0 20px;
}
.page .content > .profile > .overview > .activities > .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.page .content > .profile > .overview > .activities > .box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.page .content > .profile > .overview > .activities > .box > .img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page .content > .profile > .overview > .activities > .box > .img > img {
  width: 80px;
}
@media (max-width: 767px) {
  .page .content > .profile > .overview > .activities > .box > .img > img {
    width: 60px;
  }
}
@media (max-width: 500px) {
  .page .content > .profile > .overview > .activities > .box > .img {
    flex-direction: column;
    align-items: flex-start;
  }
}
.page .content > .profile > .overview > .activities > .box > .info {
  text-align: right;
}
.page .content > .profile > .overview > .activities > .box span {
  margin-bottom: 10px;
  font-weight: 600;
  display: block;
}
.page .content > .profile > .overview > .activities > .box p {
  color: var(--grey-color);
  font-weight: 600;
}
/* @media (max-width: 600px) {
  .page .content > .profile > .overview > .activities > .box p {
    color: var(--grey-color);
    font-weight: 600;
    font-size: 14px;
  }
} */
/* endactivities */
/* end profile  */
